PGHOST=127.0.0.1
PGPORT=5433
PGDATABASE=ins_loader
PGUSER=instagram_app
PGPASSWORD=replace_with_local_password
# Set your own Instagram session for Windows (do not commit this value).
INSTAGRAM_SESSIONID=
